{{resource-details model=model keys='spec.clusterIP,spec.sessionAffinity'}}

{{#if model.spec.ports}}
<h4 class="ui horizontal divider header"><i class="sitemap icon"></i>Ports</h4>
{{ports-details ports=model.spec.ports}}
{{/if}}
