@import "pod-styles";
@import "ember-power-select";

$sidebar-width: 260px;

.ember-power-select-trigger-multiple-input {
  line-height: 2;
}

.ember-power-select-multiple-option {
  line-height: 1.70;
}

.ui.sidebar.menu {
  width: $sidebar-width;
}

.highlight-blue {
  color: #0088CC;
}

.highlight-white {
  color: white;
}

.main {
  padding-right: $sidebar-width;
}

.position-relative {
  position: relative;
}
