@import "pod-styles";
@import "ember-power-select";

$sidebar-width: 260px;
$main-content-padding: 15px;

.ui.sidebar.menu {
  width: $sidebar-width;
}

.highlight-blue {
  color: #0088CC;
}

.highlight-white {
  color: white;
}

.main {
  padding-top: $main-content-padding;
  padding-bottom: $main-content-padding;
  padding-left: $main-content-padding;
  padding-right: $sidebar-width + $main-content-padding;
}

.position-relative {
  position: relative;
}
