<div class="ui three statistics">
  <div class="statistic">
    <div class="value">
      <i class="archive icon"></i> {{model.pods.items.length}}
    </div>
    <div class="label">
      Pods
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="configure icon"></i> {{model.services.items.length}}
    </div>
    <div class="label">
      Services
    </div>
  </div>
  <div class="statistic">
    <div class="value">
      <i class="angle double up icon"></i> {{model.replicationcontrollers.items.length}}
    </div>
    <div class="label">
      ReplicationControllers
    </div>
  </div>
</div>

<div class="ui stackable one column centered grid">
{{#each model.nodes.items as |node|}}
  <div class="twelve wide column">
    {{poll-stat node=node.metadata.name}}
  </div>
{{/each}}
</div>

