{{resource-details model=model keys='status.replicas,status.observedGeneration' spec=model.spec.template.spec}}
<h4 class="ui horizontal divider header"><i class="cubes icon"></i>Containers</h4>
{{rc-containers containers=model.spec.template.spec.containers}}
