{{#resource-details
  model=model
  keys='status.observedGeneration'
  spec=model.spec.template.spec}}
  <tr>
    <td>Replicas (Spec)</td>
    <td data-id="rc-scale">
      {{rc-scale-input replicas=model.spec.replicas action=(route-action "scale")}}
    </td>
  </tr>
  <tr>
    <td>Current replicas (Status)</td>
    <td>
      {{model.status.replicas}}
    </td>
  </tr>
{{/resource-details}}
<h4 class="ui horizontal divider header"><i class="cubes icon"></i>Containers</h4>
{{rc-containers containers=model.spec.template.spec.containers}}
