<div class="ui container">
  <div class="ui form">
    {{setting-field label='Kubernetes hostname or IP address'
                    key='host'
                    setting=host
                    validations=validations
                    action=(action 'saveSetting')
                    }}
    <div class="field">
      {{test-connection}}
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="ui form">
    {{setting-field label='Number of lines to show from pod logs'
                    key='tailLines'
                    setting=tailLines
                    validations=validations
                    action=(action 'saveSetting')
                    }}
  </div>
</div>
