<div class="ui visible inverted left vertical sidebar menu">
  {{#link-to "index" class="item"}}
    <h4 class="ui header"><span class="highlight-white">Kube</span><span class="highlight-blue">ADMIN</span></h4>
  {{/link-to}}
  <div class="item">
    <div class="ui inverted blue segment" data-autoid="host-menu">
      {{session.host}}
    </div>
  </div>
  {{myroute}}
  {{yield}}
</div>
