apiVersion: v1
kind: ReplicationController
metadata:
  name: kube-admin-{{ version }}
  namespace: kube-system
  labels:
    k8s-app: kube-admin
    version: {{ version }}
    kubernetes.io/cluster-service: "true"
spec:
  replicas: 1
  selector:
    k8s-app: kube-admin
    version: {{ version }}
  template:
    metadata:
      labels:
        k8s-app: kube-admin
        version: {{ version }}
        kubernetes.io/cluster-service: "true"
    spec:
      containers:
      - name: kube-admin
        image: {{ image }}
        resources:
          limits:
            cpu: 200m
            memory: 100Mi
        ports:
        - containerPort: 80
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 15
          timeoutSeconds: 5
