<div class="ui right action left icon input">
  <i class="file icon"></i>
  <input type="text" readonly value={{selectedFileName}} {{action "selectFile"}}>
  <input type="file">
  <button class="ui teal labeled icon button" {{action "action"}}>
    <i class="add square icon"></i>Create
  </button>
</div>
